<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Executional.Login_Application</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OpenBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_WebURL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executional.AddClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Add_NewClient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_BirthDate_CurrentDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_BirthDate_FutureDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_SaveButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_NewClientEntryPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_MoreInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_HealthCardNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_CommunicationLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Client_Checkbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_DateOfBirthType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_MainMobile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_IntakeOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_LastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_HowDidYouHearAboutUs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_FirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_SecondaryLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_MainPhoneExt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_HealthCardExpiry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_MaritalStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_SecondaryNumbExt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_ClientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_Versioncode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_IdentifyAs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_MainPhone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_NickName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_BirthDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_Note</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_Fax</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_SecondaryNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_Salutation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_PrimaryLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Collect_RequiredData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_MiddleName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executional.AddClient_From_ClientPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewClient_Fax</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_ClientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_ClientOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_NewClientEntryPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_ClientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_NewButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_PrimaryLanguage_OtherTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_On_Intake</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_PrimaryLanguage_Other</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewClinet_CommunicationLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executional.Logout</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Click_Profile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout_Application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Close_Browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout_button</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executional.Client_DetailsVerification</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Varify_CommunicationLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_FirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_LastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_PrimaryLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_MainMobile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_IdentifyAs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_Gender</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_HealthCardExpiryDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_BirthDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_SecondaryLanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_MainNumberExt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_Fax</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_HealthCardNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_SecondaryNumberExt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_HowDidYouHearAboutUs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_ClientPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_MiddleName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_Note</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_BirthType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_MainNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_ClientOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_MaritalStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_MoreInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_Versioncode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Collect_RequiredData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Varify_SecondaryNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_NickName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executional.AddClient_From_IntakeMainScreen</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_AddClientPage_Open</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_On_Logo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_PlusIcon</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
